
            	<div class="editingarea">
                    <div class="c_flex"><span class="c_flexible"></span></div>
                    <div class="Topictitle">添加题目</div>
                	<div class="c_editview">
                        <div class="Problem">
                            <div class="Problemcontent">
                               <div class="Attributetit">题目属性</div>
                                 <div class="Problemcontent">
                                   <span>题型
                                        <select id="type" ng-model="user.type"><option value="">--请选择--</option>
                                            <option value="{{i.realName}}"  ng-repeat='i in getAllSubjectType' >{{i.realName}}</option>
                                        </select>

                                   </span>&nbsp; &nbsp;
                                   <span>方向
                                        <select id="dep" ng-model='user.dep'>
                                            <option value="">--请选择--</option><option value="{{i.name}}" ng-repeat="i in getAllDepartmentes">{{i.name}}</option>
                                        </select>
                                   </span>&nbsp; &nbsp;
                                   <span>难度
                                        <select id="level" ng-model='user.level'>
                                            <option value="">--请选择--</option><option value="{{i.realName}}" ng-repeat="i in getAllSubjectLevel">{{i.realName}}</option>
                                        </select>
                                   </span>&nbsp; &nbsp;
                                   <span>知识点
                                        <select id="topics" ng-model='user.topics'>
                                            <option value="">--请选择--</option><option value="{{i.title}}" ng-repeat="i in getAllTopics">{{i.title}}</option>
                                        </select>
                                   </span>
                                   <p>{{user}}</p>
                            </div>
                            <div class="Attributetit">题目题干</div>
                                <div class="Problemcontent">
                                    <textarea  id="textarea" cols="100" rows="10" ng-model="user.timu"></textarea>
                                </div>
                            </div>
                        </div>
                        <div class="Answeroptions">
                            <div class="Attributetit">答案选项<em>(通过勾选每个选项下面的框)</em></div>
                            <div class="c_condition"><span class="icon_add"><em class="icon_r" style="float: left">添加选项</em></span></div>
                            <div class="Answercontent">
                                  <div class="Answerpart">
                                     <div class="Answerpart_left">
                                         <p>A</p><span><input type="radio" ng-model="user.choices.id1.id" value="A" /></span>
                                     </div>
                                     <div class="Answerpart_right"><textarea rows="3" cols="50"  ng-model='user.choices.id1.content'></textarea></div>
                                     <div class="clear"></div>
                                  </div>
                                <div class="Answerpart">
                                    <div class="Answerpart_left">
                                        <p>B</p><span><input type="radio" ng-model="user.choices.id2.id" value="B"/></span>
                                    </div>
                                    <div class="Answerpart_right"><textarea rows="3" cols="50" ng-model='user.choices.id2.content'></textarea></div></div>
                                </div>
                            <div class="Answercontent">
                                <div class="Answerpart">
                                    <div class="Answerpart_left">
                                        <p>C</p><span><input type="radio" ng-model="user.choices.id3.id" value="C"/></span>
                                    </div>
                                    <div class="Answerpart_right"><textarea rows="3" cols="50" ng-model='user.choices.id3.content'></textarea></div></div>
                                    <div class="Answerpart">
                                    <div class="Answerpart_left">
                                        <p>D</p><span><input type="radio" ng-model="user.choices.id4.id" value="D"/></span>
                                    </div>
                                    <div class="Answerpart_right"><textarea rows="3" cols="50"  ng-model='user.choices.id4.content'></textarea></div></div>
                                    <div class="clear"></div>
                               </div>
                            </div>
                          
                        <div class="Problem1">
                            <div class="Attributetit" ng-model='user.daan'>答案解析</div>
                            <div class="Problemcontent">
                                <textarea rows="3" cols="50" ng-model="user.stem" ></textarea>
                            </div>
                        </div>
                       
                        <div class="btn_left">
                            <span class="btnL"><em class="btnR" ng-click="saveDate()">保存并继续</em></span><span class="btnL"><em class="btnR" ng-click="saveExit()">保存并关闭</em></span>
                        </div>
                    </div>
                </div>